@model IEnumerable<Mail_API.Models.Db.Mail>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></link>
        <script type="text/javascript" src="../../js/winlas.js"></script>
        <link rel="shortcut icon" href="https://winlas.se/assets/favicon.png" />
        @{
            ViewData["Title"] = "Mail-log";
        }
    </head>

<style>
    body {
        color: #292b2c;
    }
    table.dataTable thead .sorting {
        background-image: none;
    }
</style>

<div class="container">
    <div class="header-clearfix">
        <h3 class="text-muted">Mail-log</h3>
    </div>

    <div class="jumbotron">
        <h1 class="display-3">Sök skickade mail</h1>
        <input id="searchField" type="text" class="form-control form-control-lg" placeholder="Sök" aria-describedby="sizing-addon1">
    </div>
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table" id="mailTable">
                    <thead class="thead-dark">
                        <tr class="bg-success">
                            <th class="sorting">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th class="sorting">
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th class="sorting">
                                @Html.DisplayNameFor(model => model.SentTime)
                            </th>
                            <th class="sorting">
                                @Html.DisplayNameFor(model => model.Receiver)
                            </th>
                            <th class="sorting">
                                @Html.DisplayNameFor(model => model.Sender)
                            </th>
                            <th class="sorting">
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>Body</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
         </div>
</div>